html{
    font: 15pt Arial;
}
body {
    background: url("wallpaper-php.jpg") no-repeat top center fixed;
    background-size: cover;
}
.texto{
    
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}
.msg{
    position: relative;
    bottom: 30pt;
    text-align: left;
}
.voltar{
    position: relative;
    text-decoration: underline; 
    top: 10pt;
    font-size: 11pt;
    padding: 6pt;
    text-decoration: none;
    color: #ffecd2;
    background-color: #273747; 
}
input{
    background-color: #ffecd2;
    width: 50pt;
}
label{
    font-weight: bold;

}
#sub{
    position: relative;
    font-size: 11pt;
    top: 4pt;
    width: 90pt;
    padding: 6pt;
    color: #ffecd2;
    text-decoration: none;
    background-color: #273747;
}
span{
    color: #b22222;
    font-weight: bold;
}


